:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1100px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #000;
  --text-color: #222222;
  --accent-color: #Fb4b4b;
  --green-color: #3d5b50;
  --yellow-color: #f98f09; }

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body {
  min-height: 375px;
  overflow-x: hidden;
  background: #eff2f1; }

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%; }

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px; }

img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.site-container {
  overflow: hidden; }
  @media (max-width: 1024px) {
    .site-container {
      min-width: auto; } }

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */ }

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff; }
  .input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
    display: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width); }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.centered {
  text-align: center; }

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none; }

.page--ios .dis-scroll {
  position: relative; }

.flex {
  display: flex; }
  @media (max-width: 1024px) {
    .flex {
      flex-direction: column;
      align-items: center; } }

.section__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #2f2f2f; }
  @media (max-width: 480px) {
    .section__title {
      font-size: 25px; } }
  @media (max-width: 768px) {
    .section__title {
      font-size: 26px; } }

.section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a; }

.text__center {
  text-align: center; }

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .overlay--active {
    opacity: 1;
    visibility: visible; }

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: absolute;
  right: 40px;
  top: 28px;
  z-index: 1000;
  display: none;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--light-color);
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 768px) {
    .burger {
      display: block; } }

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }

.burger::before {
  top: 0; }

.burger::after {
  top: calc(100% - var(--burger-line-height)); }

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out; }

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out; }

.burger:focus::after {
  opacity: 1; }

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
  display: flex; }
  .loader__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    z-index: 6;
    color: #3b5d50; }
    .loader__title span {
      color: #323232; }
  .loader__item {
    flex: 1 1 auto;
    z-index: 7;
    background: #3b5d50; }
  .loader__item-1 {
    border-right: 1px solid #323232; }
  .loader__item-2 {
    border-right: 1px solid #323232; }
  .loader__item-3 {
    border-right: 1px solid #323232; }

.header {
  padding-top: 24px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29); }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .header__container {
        display: flex;
        justify-content: space-around; } }
    @media (max-width: 768px) {
      .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
  .header--main {
    background-color: var(--green-color); }
  @media (max-width: 768px) {
    .header__nav {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      overflow-y: auto;
      padding: 50px;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--green-color);
      transform: translateX(-150%);
      transition: transform 0.3s ease-in-out; }
      .header__nav--active {
        transform: none;
        opacity: 1; } }
  @media (max-width: 768px) {
    .header__nav {
      padding: 20px; } }
  .header--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

.logo:focus {
  outline-offset: 2px;
  outline: 2px solid var(--color-primary); }

@media (max-width: 1024px) {
  .logo {
    max-width: none; } }

.btn {
  display: inline-block;
  border: none;
  padding: 11px 35px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 30px; }
  .btn__hero {
    background-color: var(--yellow-color);
    color: #2f2f2f;
    transition: 0.3s background, color; }
    .btn__hero:hover {
      background: lightcoral;
      color: #fff; }
  .btn__outlined {
    border: 2px solid rgba(255, 255, 255, 0.29);
    color: var(--light-color);
    padding: 9px 35px;
    background: transparent;
    transition: 0.3s background, color; }
    .btn__outlined:hover {
      background: #fff;
      color: #2f2f2f;
      border-color: #fff; }
  .btn__section {
    background-color: var(--green-color);
    color: var(--light-color);
    transition: 0.3s background, color;
    margin-top: 37px; }
    @media (max-width: 768px) {
      .btn__section {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        width: 100%; } }
    .btn__section:hover {
      background: lightcoral;
      color: #2f2f2f;
      border-color: #fff; }

.border-block {
  border: 1px solid var(--dark-color); }

.nav__list {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .nav__list {
      flex-direction: column; } }

.nav__item:not(:last-child):not(:last-child) {
  margin-right: 30px; }
  @media (max-width: 768px) {
    .nav__item:not(:last-child):not(:last-child) {
      margin-bottom: 30px;
      margin-right: 0; } }

.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--light-color);
  opacity: 0.5;
  text-transform: capitalize;
  position: relative; }
  @media (max-width: 768px) {
    .nav__link {
      opacity: 1; } }
  .nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: yellow;
    height: 5px;
    width: 100%;
    transform: scale(0);
    transition: 0.8s transform; }
  .nav__link:hover {
    opacity: 1; }
    .nav__link:hover:after {
      transform: scale(1); }

.logo {
  padding: 0; }

.section__hero {
  padding-top: 90px;
  background: #3d5b50;
  position: relative;
  overflow: hidden; }
  @media (max-width: 992px) {
    .section__hero {
      padding-top: 75px; } }
  @media (max-width: 1024px) {
    .section__hero {
      padding-top: 60px; } }
  .section__hero .hero__svg {
    position: absolute;
    right: 120px;
    top: 100px;
    z-index: 0; }
    @media (max-width: 992px) {
      .section__hero .hero__svg {
        top: 20%; } }
    @media (max-width: 768px) {
      .section__hero .hero__svg {
        top: 45%;
        right: 5%;
        max-width: 150px;
        width: 100%;
        height: auto; } }
    @media (max-width: 480px) {
      .section__hero .hero__svg {
        top: -10%;
        right: -2%; } }

.hero {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .hero {
      flex-wrap: wrap; } }
  .hero__item {
    z-index: 2; }
    .hero__item img {
      width: 100%; }
    .hero__item.left__item {
      flex: 0 1 430px; }
      @media (max-width: 992px) {
        .hero__item.left__item {
          flex: 0 1 100%; } }
  .hero__title {
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    color: #fff;
    margin: 0; }
    .hero__title span {
      display: block; }
    @media (max-width: 1024px) {
      .hero__title {
        font-size: 40px;
        line-height: 1.3; } }
    @media (max-width: 992px) {
      .hero__title {
        font-size: 42px; } }
    @media (max-width: 768px) {
      .hero__title {
        font-size: 36px; } }
  .hero__btns {
    display: flex;
    margin-top: 117px;
    gap: 14px;
    align-items: center; }
    @media (max-width: 992px) {
      .hero__btns {
        margin-top: 75px; } }
    @media (max-width: 480px) {
      .hero__btns {
        flex-wrap: wrap;
        margin-top: 50px; }
        .hero__btns .hero__btn {
          display: flex;
          width: 100%;
          justify-content: center; } }

.ticker {
  position: relative;
  overflow: hidden;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color); }

.ticker__wrapper {
  display: flex; }

.ticker__item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
  animation: ticker 5s linear infinite; }

.ticker__icon {
  margin-left: 30px; }

@keyframes ticker {
  0% {
    transform: translateZ(0); }
  to {
    transform: translate3d(-100%, 0, 0); } }

/* stylelint-disable */
.section__products {
  padding: 125px 0; }
  @media (max-width: 992px) {
    .section__products {
      padding: 75px 0; } }
  @media (max-width: 768px) {
    .section__products {
      padding: 30px 0; } }

.products {
  display: flex;
  gap: 114px; }
  @media (max-width: 992px) {
    .products {
      display: flex;
      flex-wrap: wrap; } }
  @media (max-width: 768px) {
    .products {
      gap: 35px; } }
  .products__item.left__item {
    flex: 0 1 230px; }
    @media (max-width: 992px) {
      .products__item.left__item {
        flex: 0 1 100%; } }
  @media (max-width: 992px) {
    .products__item.right__item {
      flex: 0 1 100%; } }

.gallery {
  display: flex;
  gap: 79px; }
  @media (max-width: 992px) {
    .gallery {
      justify-content: space-between; } }
  @media (max-width: 768px) {
    .gallery {
      flex: 0 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; } }
  @media (max-width: 768px) {
    .gallery__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #3b3b3b;
      border-radius: 30px;
      padding: 30px; } }
  .gallery__img img {
    height: 260px; }
    @media (max-width: 768px) {
      .gallery__img img img {
        max-width: 100%;
        width: 100%;
        height: auto; } }
  .gallery__info {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 992px) {
      .gallery__info {
        margin-top: 20px; } }
  .gallery__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2f2f2f; }
  .gallery__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2f2f2f; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  padding-top: 100px;
  min-height: 658px;
  background-image: url("../img/product-bg.svg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat; }
  .card__taste {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5s;
    color: var(--dark-color);
    margin-bottom: 14px; }
  .card__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--dark-color);
    letter-spacing: 0.5s;
    margin-bottom: 14px; }
  @media (max-width: 1024px) {
    .card {
      min-height: 700px; } }
  @media (max-width: 768px) {
    .card {
      min-height: 500px; } }

.section__choose {
  padding-top: 25px;
  padding-bottom: 70px; }
  @media (max-width: 768px) {
    .section__choose {
      padding-bottom: 20px; } }

.choose {
  display: flex;
  justify-content: space-between;
  gap: 20px; }
  @media (max-width: 1024px) {
    .choose {
      flex-wrap: wrap; } }
  .choose__item.left__item {
    flex: 0 1 470px;
    padding-top: 60px; }
    @media (max-width: 1024px) {
      .choose__item.left__item {
        flex: 0 1 100%;
        padding-top: 0px; } }
  .choose__item.right__item {
    padding-top: 50px;
    position: relative; }
    @media (max-width: 992px) {
      .choose__item.right__item {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .choose__item.right__item:after {
      position: absolute;
      content: '';
      width: 296px;
      height: 307px;
      border-radius: 20px;
      background: rgba(53, 115, 110, 0.1);
      left: -310px;
      top: 170px; }
      @media (max-width: 992px) {
        .choose__item.right__item:after {
          left: unset;
          top: unset;
          right: -30%;
          bottom: 10%;
          z-index: 1;
          background: rgba(53, 115, 110, 0.3); } }
      @media (max-width: 768px) {
        .choose__item.right__item:after {
          width: 180px;
          height: 200px;
          right: -20%; } }
      @media (max-width: 480px) {
        .choose__item.right__item:after {
          width: 180px;
          height: 200px;
          right: -4%; } }
    .choose__item.right__item .why__svg {
      position: absolute;
      left: -80px;
      top: -10px; }
    .choose__item.right__item .why__image {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block; }
    @media (max-width: 1024px) {
      .choose__item.right__item {
        padding-top: 30px; } }

.why {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 80px; }
  @media (max-width: 1290px) {
    .why {
      gap: 30px; } }
  @media (max-width: 1024px) {
    .why {
      margin-top: 35px; } }
  .why__item {
    flex: 0 1 215px; }
    @media (max-width: 1024px) {
      .why__item {
        flex: 0 1 48%; } }
    @media (max-width: 768px) {
      .why__item {
        flex: 0 1 100%; } }
    .why__item-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 27px;
      color: #2f2f2f;
      margin-top: 3px; }
    .why__item-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #2f2f2f;
      margin-top: 9px; }

.section__examples {
  padding: 50px 0; }

.examples {
  display: flex;
  justify-content: space-between;
  gap: 20px; }
  @media (max-width: 992px) {
    .examples {
      flex-wrap: wrap; } }
  .examples__item {
    flex: 0 1 340px;
    display: flex;
    align-items: center;
    gap: 30px; }
    @media (max-width: 992px) {
      .examples__item {
        flex: 0 1 100%; } }
  .examples__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000; }
  .examples__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a; }
  .examples__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #6a6a6a;
    transition: 0.3s color;
    cursor: pointer; }
    .examples__link:hover {
      color: red; }
  .examples__info {
    display: flex;
    flex-direction: column;
    gap: 10px; }

section__testimonials {
  padding: 45px 0; }

.swiper__testimonials {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 45px; }
  @media (max-width: 992px) {
    .swiper__testimonials {
      margin-top: 30px; } }

.swiper-wrapper {
  padding-bottom: 40px; }

.testimonials__slide {
  display: flex;
  align-items: center;
  flex-direction: column; }

.testimonials__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000; }
  @media (max-width: 992px) {
    .testimonials__text {
      font-size: 16px;
      line-height: 1.7; } }

.testimonials__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-align: center;
  margin-top: 13px; }
  @media (max-width: 992px) {
    .testimonials__name {
      margin-top: 10px; } }

.testimonials__position {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  color: #2f2f2f;
  text-align: center; }

.testimonials__avatar {
  border-radius: 100%;
  overflow: hidden;
  margin-top: 42px; }
  @media (max-width: 992px) {
    .testimonials__avatar {
      margin-top: 20px; } }

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #c4c4c4; }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #385d50; }

.slider__wrapper {
  position: relative; }

.slider__btn {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  border: none;
  position: absolute;
  transition: 0.3s all;
  background: #385d50; }
  @media (max-width: 480px) {
    .slider__btn {
      display: none; } }
  .slider__btn .slider__btn-path {
    stroke: #fff; }
  .slider__btn.swiper-button-disabled {
    background: rgba(196, 196, 196, 0.1); }
    .slider__btn.swiper-button-disabled .slider__btn-path {
      stroke: #000; }
  .slider__btn.prev__btn {
    left: 0;
    top: 30px; }
    @media (max-width: 992px) {
      .slider__btn.prev__btn {
        top: unset;
        bottom: -29px; } }
  .slider__btn.next__btn {
    right: 0;
    top: 30px; }
    @media (max-width: 992px) {
      .slider__btn.next__btn {
        top: unset;
        bottom: -29px; } }

.section__blog {
  padding-bottom: 150px; }

.blog {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  gap: 20px; }
  @media (max-width: 768px) {
    .blog {
      flex-wrap: wrap; } }
  .blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .blog__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    border-bottom: 3px solid #000;
    color: #2f2f2f;
    transition: 0.3s border, color; }
    @media (max-width: 768px) {
      .blog__link {
        border-bottom: 2px solid #000;
        font-size: 14px; } }
    .blog__link:hover {
      border-color: #385d50;
      color: #385d50; }
  .blog__item {
    flex: 0 1 360px; }
    @media (max-width: 768px) {
      .blog__item {
        flex: 0 1 100%; } }
  .blog__img {
    border-radius: 10px;
    overflow: hidden; }
    .blog__img img {
      max-width: 100%;
      width: 100%;
      height: auto; }
  .blog__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 44px;
    color: #2f2f2f; }
    @media (max-width: 992px) {
      .blog__title {
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 10px; } }
  .blog__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2f2f2f; }
    .blog__text span {
      font-weight: 400;
      font-style: italic; }

.section__subscribe {
  background-color: #fff;
  padding: 100px 0 130px 0; }
  @media (max-width: 768px) {
    .section__subscribe {
      padding: 150px 0 75px 0; } }

.subscribe {
  position: relative; }
  .subscribe .subscribe__image {
    position: absolute;
    right: 0;
    top: -180px; }
    @media (max-width: 1024px) {
      .subscribe .subscribe__image {
        max-width: 300px; } }
    @media (max-width: 768px) {
      .subscribe .subscribe__image {
        top: -250px; } }
  .subscribe__title {
    display: flex;
    align-items: center;
    gap: 12px; }
    .subscribe__title span {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #2f2f2f; }

.form {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 24px; }
  @media (max-width: 768px) {
    .form {
      max-width: 100%;
      flex-wrap: wrap; } }
  .form__input {
    padding: 14px 22px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2f2f2f;
    outline: none; }
    @media (max-width: 768px) {
      .form__input {
        padding: 12px 18px; } }
    .form__input:focus {
      border: 1px solid #350d50; }
  .form__btn {
    background: #35736e;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    flex: 1 0 50px;
    border-radius: 10px;
    transition: 0.3s background; }
    .form__btn span {
      display: none; }
    @media (max-width: 768px) {
      .form__btn {
        padding: 12px 18px; }
        .form__btn span {
          display: block;
          color: #fff; }
        .form__btn svg {
          display: none; } }
    .form__btn:hover {
      background: #25504d; }

.section__help {
  padding: 70px 0 100px 0;
  position: relative; }
  @media (max-width: 768px) {
    .section__help {
      padding: 0 0 50px 0; } }
  .section__help .help__svg {
    position: absolute;
    left: 5%;
    top: 0; }
    @media (max-width: 768px) {
      .section__help .help__svg {
        top: unset;
        bottom: 0; } }

.help {
  display: flex;
  justify-content: space-between;
  gap: 55px; }
  @media (max-width: 992px) {
    .help {
      flex-wrap: wrap-reverse; } }
  .help__item.left__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex: 0 1 630px; }
    @media (max-width: 992px) {
      .help__item.left__item {
        display: flex;
        flex: 0 1 100%;
        flex-wrap: wrap; } }
  @media (max-width: 992px) {
    .help__item.right__item {
      flex: 0 1 100%; } }
  @media (max-width: 768px) {
    .help__img-1 {
      max-width: 90%;
      width: 100%;
      height: auto; } }
  @media (max-width: 768px) {
    .help__img-2 {
      display: none; } }
  .help__img-3 {
    position: absolute;
    bottom: -30px;
    right: 0; }
    @media (max-width: 768px) {
      .help__img-3 {
        max-width: 40%;
        width: 100%;
        height: auto;
        top: 5%; } }
  .help__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 30px; }
    @media (max-width: 768px) {
      .help__list {
        margin-top: 10px;
        gap: 15px; } }
    .help__list li {
      position: relative;
      padding-left: 22px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #6a6a6a;
      flex: 0 1 196px; }
      @media (max-width: 768px) {
        .help__list li {
          flex: 0 1 100%; } }
      .help__list li:after {
        position: absolute;
        content: "";
        border: 2px solid #3b5d50;
        height: 8px;
        width: 8px;
        left: 0;
        top: 6px;
        border-radius: 100%; }

footer {
  background: #fff;
  padding-bottom: 32px; }

.footer {
  display: flex;
  gap: 60px; }
  @media (max-width: 992px) {
    .footer {
      gap: 30px; } }
  @media (max-width: 768px) {
    .footer {
      flex-wrap: wrap; } }
  .footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6a6a6a; }
  .footer__logo {
    display: flex;
    margin-bottom: 17px; }
  .footer__item {
    margin-top: 17px; }
    .footer__item.left__item {
      flex: 0 1 360px; }
      @media (max-width: 768px) {
        .footer__item.left__item {
          flex: 0 1 100%; } }
    .footer__item.right__item {
      display: flex;
      gap: 60px; }
      @media (max-width: 992px) {
        .footer__item.right__item {
          gap: 30px; } }
      @media (max-width: 768px) {
        .footer__item.right__item {
          flex: 0 1 100%; } }
      @media (max-width: 480px) {
        .footer__item.right__item {
          flex-wrap: wrap;
          gap: 10px; } }
  .footer .social {
    display: flex;
    gap: 11px;
    margin-top: 60px; }
    @media (max-width: 768px) {
      .footer .social {
        margin-top: 20px; } }
    .footer .social__item {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      transition: 0.3s background;
      cursor: pointer; }
      .footer .social__item svg {
        transition: 0.3s scale; }
      .footer .social__item:hover {
        background: #385d50; }
        .footer .social__item:hover svg {
          scale: 1.1;
          transition: 0.3s fill; }
        .footer .social__item:hover path {
          fill: #fff; }
  @media (max-width: 768px) {
    .footer .links {
      flex: 0 1 20%; } }
  @media (max-width: 480px) {
    .footer .links {
      flex: 0 1 45%; } }
  .footer .links li {
    line-height: 28px;
    cursor: pointer;
    transition: 0.3s color; }
    .footer .links li:hover {
      color: red; }

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding-top: 36px;
  border-top: 1px solid #eff2f1; }
  @media (max-width: 768px) {
    .copy {
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px; } }
  .copy__link {
    transition: 0.3s color; }
    .copy__link:hover {
      color: red; }
  .copy__item {
    display: flex;
    align-items: center;
    gap: 42px; }
  @media (max-width: 480px) {
    .copy__text {
      display: block; } }

/*# sourceMappingURL=main.css.map */
